.price-filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3px;
    margin-top: 35px;
    padding: 20px 10px;
    max-width: 200px;
  }
  
  .filter-title {
    color: #6e6863;
    font-size: 1.4em;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
  }
  
  .price-filter-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .price-filter-top {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .minInput {
   width: 40px;
   margin-right: 10px;
  }
  .maxInput {
    width: 40px;
  }
  h5 {
    font-size: 16px;
    padding: 0 3px;
  }
  
  .slider {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  
  .clear-button {
    margin-right: 10px;
  }
  